.download-app {
	background-color: white;
	// padding-top: 65px;
	@include adaptive-value('padding-top', 40, 65);
	// .download-app__header
	&__header {
	}

	// .download-app__suptitle
	&__suptitle {
	}

	// .download-app__title
	&__title {
	}

	// .download-app__content
	&__content {
		overflow-x: hidden;
		margin-top: 40px;
		// padding: 0 120px;
		@include adaptive-value('padding-left', 0, 120, 1);
		@include adaptive-value('padding-left', 120, 120, 2);
		@include adaptive-value('padding-right', 0, 120, 1);
		@include adaptive-value('padding-right', 120, 120, 2);
		display: flex;
		justify-content: space-between;
	}

	// .download-app__article
	&__article {
		// padding-top: 40px;
		@include adaptive-value('padding-top', 0, 40);
		@include adaptive-value('padding-bottom', 40, 80);
		// padding-bottom: 40px;
		padding-right: 40px;
		width: 60%;
	}

	// .download-app__subtitle
	&__subtitle {
		color: black;
		text-transform: initial;
	}

	// .download-app__paragpraph
	&__paragpraph {
		margin-top: 30px;
	}

	// .download-app__links
	&__links {
		// margin-top: 60px;
		@include adaptive-value('margin-top', 30, 60);
		display: grid;
		// grid-gap: 20px;
		@include adaptive-value('grid-gap', 10, 20);
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto, 1fr);
	}

	// .download-app__elem
	&__elem {
		display: flex;
		justify-content: center;
	}

	// .download-app__link
	&__link {
		display: block;
		max-width: 210px;
		img {
			width: 100%;
		}
	}

	// .download-app__illustration
	&__illustration {
			height: 100%;
			overflow: hidden;
			margin-right: -50px;

		&-picture {
			height: 100%;

			align-self: flex-end;
			flex-grow: 1;
			overflow: hidden;
		}
	}
}