

@@if (isDev) {
    <div class="header-bg ibg">
        <img
            src="@img/header/bg.jpg"
            alt="background image"
        >
    </div>

}
@@if (isBuild) {
    <img
        src="@img/header/bg.jpg"
        alt="background image"
        ghiw-picture-class="header-bg ibg"
    >
}
<header class="header article" id="home" aria-label="header content">
    <div class="container">
        <div class="header__intro article__header">
            <a class="header__suptitle article__suptitle open-order-now _anim-elem" href="#">BOOK CAB NOW</a>
            <h1 class="header__title article__super-title phone _anim-elem">
                <a class="header__link" href="tel:+123 4567 8900">+123 4567 8900</a>
            </h1>
            <h6 class="header__subtitle article__subtitle _anim-elem"><a href="index.html">CabHUB.ua</a></h6>
        </div>

        <img
            class="header__illustration _anim-elem"
            src="@img/header/Car.png"
            alt="illustration"
            ghiw-picture-class="header__illustration--picture"
        >
    </div>
</header>