.article {
	// No Styles !!!
	// .article__suptitle
	&__suptitle {
		// font-size: 35px;
		@include adaptive-value('font-size', 20, 35);
		color: $yellow_dark;
		font-weight: 900;
		text-transform: uppercase;
	}
	// article__title
	&__title {
		// font-size: 44px;
		@include adaptive-value('font-size', 40, 45, 1);
		@include adaptive-value('font-size', 45, 50, 2);
		color: $grey_dark;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__header {
	}
	&__paragraph {
		font-weight: 400;
		// font-size: 18px;
		@include adaptive-value('font-size', 15, 20);
	}
}