.main {
}
.about {
    width: 100%;
    background-color: $yellow_dark;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        padding: 0 20px;
        // padding: 150px 20px 80px;
        @include adaptive-value('padding-top', 50, 150);
        @include adaptive-value('padding-bottom', 30, 80);

        *:only-child {
            min-width: 50%;
        }
    }
}
.about-us {
	flex-shrink: 1;
	@include adaptive-value('margin-right', 20, 190);
	// .about-us__intro
	&__intro {
		text-transform: uppercase;
	}
	// .about-us__suptitle
	&__suptitle {
		font-weight: 900;
		color: black;
	}
	// .about-us__title
	&__title {
		margin-top: 25px;
		// font-size: 50px;
		@include adaptive-value('font-size', 30, 50);
		font-weight: 900;
	}
	// .about-us__content
	&__content {
		margin-top: 45px;
	}
	// about-us__read-more
	&__read-more {
		text-transform: uppercase;
		background-color: $grey_dark;
		color: white;
		font-family: 'Bebas Neue', cursive;
		font-weight: 800;
		// font-size: 30px;
		@include adaptive-value('font-size', 20, 30);
		padding: 15px 35px;
		border-radius: 10px;
		margin-top: 60px;
		display: inline-block;
	}
}
.content-box {
	// .content-box__paragraph
	&__paragraph {
		font-weight: 400;
		// font-size: 18px;
		@include adaptive-value('font-size', 14, 20);
	}
}
.booking {
	background-color: white;
	max-width: 1000px;
	&:hover {
		cursor: auto;
	}

	// .booking__content
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		@include adaptive-value('padding', 15, 35, 1);
		@include adaptive-value('padding', 35, 40, 2);
	}
	// .booking__title
	&__title {
		padding: 25px 35px;
		text-transform: uppercase;
		color: white;
		background-color: #171717;
		font-weight: 800;
	}
	// .booking__input
	&__input {
		display: block;
		width: 100%;
		font-family: 'Lato', sans-serif;
		font-weight: 600;
		@include adaptive-value('font-size', 15, 20);
		border: 0;
		border-bottom: 3px solid #e4e4e4;
		padding: 10px 0;
		&::placeholder {
			font-size: inherit;
		}
		&:is(select),
		&[type="submit"] {
			grid-column: 1 / 3;
		}
	}
	// .booking__input--l
	&__input--l {
		&::placeholder {
			color: black;
		}
	}
	// .booking__input--r
	&__input--r {
		&::placeholder {
			color: #4b4b4b;
		}
	}
	// .booking__input--f
	select.booking__input--f {
		appearance: none;
	}
	input.booking__input--f[type="submit"] {
		margin-top: 25px;
		border-bottom: none;
		background-color: $grey_dark;
		color: white;
		text-transform: uppercase;
		font-family: 'Bebas Neue', cursive;
		font-weight: 500;
		font-size: 30px;
		letter-spacing: 1px;
		border-radius: 10px;
	}

}
span.yellow {
    color: $yellow_dark;
}
