.main {}

.about {
    width: 100%;
    background-color: $yellow_dark;
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
		align-items: center;
        height: 100%;
        padding: 0 20px;
        // padding: 150px 20px 80px;
        @include adaptive-value('padding-top', 40, 100);
        @include adaptive-value('padding-bottom', 30, 80);

        *:only-child {
            min-width: 50%;
        }
    }
	&__booking {
		max-width: 1000px;
	}
	&__about-us {
		@include adaptive-value('margin-right', 20, 80);
	}
}
.about-us {
    flex-shrink: 1;
    // .about-us__intro
    &__intro {}
    // .about-us__suptitle
    &__suptitle {
        color: black;
    }
    // .about-us__title
    &__title {
        margin-top: 25px;
        font-size: 50px;
    }
    // .about-us__content
    &__content {
        margin-top: 45px;
    }
    // about-us__read-more
    &__read-more {
        margin-top: 60px;
    }
}
.booking {
	background-color: white;
	&:hover {
		cursor: auto;
	}

	// .booking__content
	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		@include adaptive-value('padding', 15, 35, 1);
		@include adaptive-value('padding', 35, 40, 2);
	}
	// .booking__title
	&__title {
		padding: 25px 35px;
		text-transform: uppercase;
		color: white;
		background-color: #171717;
		font-weight: 800;
	}
	// .booking__input
	&__input {
		width: 100%;
		font-weight: 600;
		@include adaptive-value('font-size', 15, 20);
		border: 0;
		border-bottom: 3px solid #e4e4e4;
		padding: 10px 0;
		&::placeholder {
			font-size: inherit;
		}
		// .booking__input--f
		&--f {
			grid-column: 1 / 3;
			&:is(select) {
				appearance: none;
			}
			&[type="submit"] {
				margin-top: 25px;
				letter-spacing: 1px;
				border-bottom: 0;
			}
		}
		// .booking__input--l
		&--l {
			&::placeholder {
				color: black;
			}
		}
		// .booking__input--r
		&--r {
			&::placeholder {
				color: #4b4b4b;
			}
		}
	}
}

.tariffs {
	background-color: white;
	.container {
		// padding: 65px 0 80px;
		@include adaptive-value('padding-top', 40, 60);
		@include adaptive-value('padding-bottom', 20, 80);
	}
	// .tariffs__header
	&__header {}

	// .tariffs__content
	&__content {
		display: flex;
		justify-content: space-between;
		// margin-top: 130px;
		@include adaptive-value('margin-top', 15, 70);
		padding: 20px;

		.tariff {
			@include beaut_blocks(3, .5s, .5s);
			margin: 0 15px;
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}
.tariff {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	text-align: center;
	background-color: $grey_light;
	padding: 25px;

	// .tariff__image
	.tariff__image {
		transform: translateY(-50%);
		margin-bottom: -20%;
		width: 100%;
		height: auto;
	}
	picture {
		.tariff__image {
			transform: translateY(-50%);
			margin-bottom: -20%;
		}
	}

	// .tariff__title
	&__title {
		color: black;
	}

	// .tariff__paragraph
	&__paragraph {
		margin-top: 30px;
	}

	// .tariff__cost
	&__cost {
		margin-top: 40px;
		color: $yellow_dark;
	}

	// .tariff__link
	&__link {
		margin-top: 30px;
		@extend .custom-button--yellow;
	}

	// .tariff--special
	&--special {
		background-color: $yellow_dark;
		&::before {
			position: absolute;
			content: url('../img/main/tariffs/star-solid.svg');
			z-index: 2;

			width: 24px;
			height: 24px;

			right: 5px;
			bottom: 10px;
		}
		&::after {
			position: absolute;
			content: '';
			right: 0;
			bottom: 0;
			width: 0;
			height: 0;
			border: 0 solid transparent;
			border-right-width: 0px;
			border-left-width: 70px;
			border-bottom: 70px solid $grey_dark;
			z-index: 1;
		}
		.tariff__cost {
			color: $grey_dark;
		}
		.tariff__link {
			@extend .custom-button;
		}
	}
}

.why-we {
	background-image: url('../img/main/why-we/bg.jpg');
	color: white;
	padding: 1px;

	.container {
		// padding: 80px 0 75px;
		@include adaptive-value('padding-top', 40, 80);
		@include adaptive-value('padding-bottom', 40, 75);
	}
	// .why-we__header
	&__header {}

	// .why-we__suptitle
	&__suptitle {}

	// .why-we__title
	&__title {
		color: white;
	}

	// .why-we__content
	&__content {
		margin-top: 55px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto 1fr;
		grid-column-gap: 30px;
	}

	// .why-we__item
	&__item {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		padding: 20px;
		@include beaut_blocks(4, .5s, .5s);
		&:nth-of-type(1) {
			&::before {
				content: url('../img/main/why-we/star.png');
			}
		}
		&:nth-of-type(2) {
			&::before {
				content: url('../img/main/why-we/clock.png');
			}
		}
		&:nth-of-type(3) {
			&::before {
				content: url('../img/main/why-we/castle.png');
			}
		}
		&:nth-of-type(4) {
			&::before {
				content: url('../img/main/why-we/gear.png');
			}
		}

		&::before {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			@include adaptive-value('width', 60, 80, 1);
			@include adaptive-value('width', 80, 100, 2);
			@include adaptive-value('height', 60, 80, 1);
			@include adaptive-value('height', 80, 100, 2);
			border-radius: 50%;
			margin-right: 20px;
			background-color: $yellow_dark;
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}
	// .why-we__article-title
	&__article-title {}

	// .why-we__paragraph
	&__paragraph {
		// margin-top: 25px;
		@include adaptive-value('margin-top', 15, 20, 1);
		@include adaptive-value('margin-top', 20, 25, 1);
	}
	&__inner {
		margin-top: 20px;
		text-align: center;
	}
	// .why-we__link
	&__link {}
}

.download-app {
	background-color: white;
	// padding-top: 65px;
	@include adaptive-value('padding-top', 40, 65);
	// .download-app__header
	&__header {
	}

	// .download-app__suptitle
	&__suptitle {
	}

	// .download-app__title
	&__title {
	}

	// .download-app__content
	&__content {
		overflow-x: hidden;
		margin-top: 40px;
		// padding: 0 120px;
		@include adaptive-value('padding-left', 0, 120, 1);
		@include adaptive-value('padding-left', 120, 120, 2);
		@include adaptive-value('padding-right', 0, 120, 1);
		@include adaptive-value('padding-right', 120, 120, 2);
		display: flex;
		justify-content: space-between;
	}

	// .download-app__article
	&__article {
		// padding-top: 40px;
		@include adaptive-value('padding-top', 0, 40);
		@include adaptive-value('padding-bottom', 40, 80);
		// padding-bottom: 40px;
		padding-right: 40px;
		width: 60%;
	}

	// .download-app__subtitle
	&__subtitle {
		color: black;
		text-transform: initial;
	}

	// .download-app__paragpraph
	&__paragpraph {
		margin-top: 30px;
	}

	// .download-app__links
	&__links {
		// margin-top: 60px;
		@include adaptive-value('margin-top', 30, 60);
		display: grid;
		// grid-gap: 20px;
		@include adaptive-value('grid-gap', 10, 20);
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto, 1fr);
	}

	// .download-app__elem
	&__elem {
		display: flex;
		justify-content: center;
	}

	// .download-app__link
	&__link {
		display: block;
		max-width: 210px;
		img {
			width: 100%;
		}
	}

	// .download-app__illustration
	&__illustration {
			height: 100%;
			overflow: hidden;
			margin-right: -50px;

		&-picture {
			height: 100%;

			align-self: flex-end;
			flex-grow: 1;
			overflow: hidden;
		}
	}
}

.testimonials {
	background-image: url("../img/main/testimonials/bg.jpg");

	.container {
		// padding: 110px 0 85px;
		@include adaptive-value('padding-top', 40, 80);
		@include adaptive-value('padding-bottom', 40, 50);
	}

	// .testimonials__header
	&__header {
	}

	// .testimonials__suptitle
	&__suptitle {
	}

	// .testimonials__title
	&__title {
		color: white;
	}

	// .testimonials__content
	&__content {
		// margin-top: 100px;
		@include adaptive-value('margin-top', 30, 60);
	}

	// .testimonials__reviews
	&__reviews {
	}
}
.reviews {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	// grid-gap: 30px;
	@include adaptive-value('grid-gap', 15, 30);
	padding: 0 15px;

	// .reviews__review
	&__review {
		@include beaut_blocks(2, .5s, .5s);
	}
}
.review {
	background-color: $custom_black;
	border-radius: 40px;
	// padding: 40px 60px;
	@include adaptive-value('padding-top', 30, 40, 1);
	@include adaptive-value('padding-top', 40, 40, 2);
	@include adaptive-value('padding-left', 30, 60, 1);
	@include adaptive-value('padding-left', 40, 60, 2);
	@include adaptive-value('padding-bottom', 30, 40, 1);
	@include adaptive-value('padding-bottom', 40, 40, 2);
	@include adaptive-value('padding-right', 30, 60, 1);
	@include adaptive-value('padding-right', 40, 60, 2);

	// .review__paragraph
	&__paragraph {
		color: white;
	}

	// .review__creator-bio
	&__creator-bio {
		margin-top: 20px;
	}
}
.creator-bio {
	display: grid;
	grid-template-columns: minmax(75px, auto) 10fr;
	grid-template-rows: repeat(2, minmax(37.5px, auto));
	grid-column-gap: 18px;
	grid-row-gap: 5px;

	picture {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	// .creator-bio__avatar
	&__avatar {
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	// .creator-bio__name
	&__name {
		margin-top: auto;
	}

	// .creator-bio__job
	&__job {
		display: block;
		color: white;
		font-weight: 900;
		text-transform: uppercase;
	}
}
.avatar {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

.contacts {
	background-color: $yellow_dark;

	.container {
		padding: 70px 20px 90px;
	}

	// .contacts__content
	&__content {
		color: $custom_black;
	}

	// .contacts__suptitle
	&__suptitle {
		color: inherit;
	}

	// .contacts__title
	&__title {
		margin-top: 40px;
		color: inherit;
	}

	// .contacts__link
	&__link {}
}