// Media

/** <-------------------------------- [ Supper large screens ] --------------------------------> **/
@media only screen and (min-width: 1824px) {
	/* стили */
}



/** <-------------------------------- [ Big screens ] --------------------------------> **/
@media only screen and (max-width: 1824px) {
	/* стили */
}





/** <--------------------------- [ Computers and laptops ] ---------------------------> **/
@media only screen and (max-width: 1280px) {
	/* стили */
}



/** <-------------------------------- [ Plane tables ] --------------------------------> **/

/* Планшеты (вертикальная и горизонтальная) ----------- */
@media only screen and (max-width: 1075px)  {
	// Article About
	.about {
		.container {
			flex-direction: column !important;
		}
		.booking {
			@include adaptive-value('margin-top', 20, 120);
		}
		.about-us {
			margin-right: 0;
		}
	}
}

/* Планшеты (горизонтальная) ----------- */
@media only screen and (max-width: 1024px) and (orientation: landscape) {
	/* стили */
}

/* Планшеты (вертикальная) ----------- */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
	/* стили */
}


@media only screen and (max-width: 768px) {
	// section About
	.about {
		#content {
			flex-direction: column !important;
		}
		.booking {
			@include adaptive-value('margin-top', 20, 120);
		}
		.about-us {
			margin-right: 0;
		}
	}
}

/** <-------------------------------- [ Smartphones ] <--------------------------------> **/

/* Smartphones (вертикальная и горизонтальная) ----------- */
@media only screen and (max-width: 736px) {
	.tariffs__content {
		padding: 20px;
		flex-direction: column;
		.tariff {
			margin: 15% 0 !important;
		}
	}

}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (max-width: 736px) and (orientation: landscape) {
	/* стили */
}

/* Smartphones (вертикальная) ----------- */
@media only screen and (max-width: 736px) and (orientation: portrait) {
	/* стили */
}


// Retina more dpi in screens (Apple) //

/* Retina (горизонтальная) ----------- */
@media only screen and (max-width: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1.5){
	/* стили */
}

/* Retina (вертикальная) ----------- */
@media only screen and (max-width: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1.5){
	/* стили */
}


/** <------------------------------ [ Little smartphones] ------------------------------> **/

// Маленькие мобилки
@media only screen and (max-width: 840px) {
	.header {
		.container {
			justify-content: space-around !important;
		}
	}
}

// Specific adaptations

@media only screen and (orientation: landscape) and
						(((min-aspect-ratio: 19/10) and
						(max-width: 1210px))
						or
						((min-aspect-ratio: 14/5) and
						(min-width: 1210px))) {
	.header {
		&__illustration {
			display: none;
		}
	}
}

@media only screen and (min-width: 560px) {
	.booking {
		min-width: 422px;
	}
}

@media only screen and (max-width: 560px) {
	.booking {
		&__content {
			display: block !important;
			&>*{
				margin-bottom: 20px;
			}
		}
	}
}