@charset 'UTF-8';
// @use "sass:math";
@use "sass:list";

// Ширина макета
$SiteMaxWidth: 1600;
// Ширина контентного блока
$ContentMaxWidth: 1210;

@debug "Page template width = #{$SiteMaxWidth}px";
@debug "Content width = #{$ContentMaxWidth}px";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
// font-family: 'Bebas Neue', cursive;

@import "_zer0.scss";
@import "_mixins.scss";
@import "_fonts.scss";
@import "_media.scss";
@import "_preloader.scss";

// Color variables
$yellow_dark: #ffc61a;
$grey_dark: #131313;
$custom_black: #040707;
$grey_light: #f5f4f2;

* {
	font-family: 'Lato', sans-serif;
}

html {
	&.lock {
		overflow: hidden;
	}
}

body {}

#wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: $ContentMaxWidth+px;
}

// Красивая загрузка элементов (см. так же в app.js и _mixins.scss)
$AnimTime: 1s;
$AnimDelay: 0s;
.anim-elem {
	-webkit-transition: margin, padding .0s linear;
	   -moz-transition: margin, padding .0s linear;
	    -ms-transition: margin, padding .0s linear;
	     -o-transition: margin, padding .0s linear;
	        transition: margin, padding .0s linear;

	-webkit-transform: translate(0, -100%);
	   -moz-transform: translate(0, -100%);
		-ms-transform: translate(0, -100%);
		 -o-transform: translate(0, -100%);
			transform: translate(0, -100%);

	opacity: 0;

	-webkit-transition: opacity   $AnimTime ease-in-out $AnimDelay,
						transform $AnimTime ease-in-out $AnimDelay;
	   -moz-transition: opacity   $AnimTime ease-in-out $AnimDelay,
	   					transform $AnimTime ease-in-out $AnimDelay;
	    -ms-transition: opacity   $AnimTime ease-in-out $AnimDelay,
	    				transform $AnimTime ease-in-out $AnimDelay;
	     -o-transition: opacity   $AnimTime ease-in-out $AnimDelay,
	     				transform $AnimTime ease-in-out $AnimDelay;
	        transition: opacity   $AnimTime ease-in-out $AnimDelay,
	        			transform $AnimTime ease-in-out $AnimDelay;

	&.active-fx {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.ibg {
	position: relative;
}

.ibg img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

// [ Global UI Kits ]
.custom-button {
	background-color: $grey_dark;
	color: white;
	// font-size: 30px;
	@include adaptive-value('font-size', 20, 35);
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive !important;
	font-weight: 500 !important;
	border-radius: 10px;

	&--yellow {
		background-color: $yellow_dark;
		color: $grey_dark;
	}

	&--link {
		display: inline-block;
		padding: 15px 35px;
	}
}

span.yellow {
    color: $yellow_dark;
}

@import "_article.scss";

// ==================================

@import "_header.scss";
@import "_nav.scss";
@import "_main.scss";
@import "_aside.scss";
@import "_footer.scss";